<%_.each(data,function(item,index){%>
<div class="info partner">
    <div class="info-tit">
        <div class="spread"><a href="javascript:;" style="margin-right: 20px;" class="link delPartner">删除</a><span data-type="1">收起</span></div>
        <h3 class="msg">共同借款人信息<%=index+1%></h3>
    </div>
    <div class="info-con">
        <dl class="clear">
            <dt class="one-txt">姓名</dt>
            <dd><input type="text" class="ipt w-normal custPartnerName <%=item.custPartnerName?'':'gray'%>" value="<%=item.custPartnerName%>"/></dd>
        </dl>
        <dl class="clear">
            <dt>婚姻状况</dt>
            <dd>
                <div class="radio isMarry">
                    <ul class="clear">
                        <li class="<%=item.isMarry == '2'?'checked':''%>" data-code="2">已婚</li>
                        <li class="<%=item.isMarry == '4'?'checked':''%>" data-code="4">丧偶</li>
                        <li class="<%=item.isMarry == '3'?'checked':''%>" data-code="3">离异</li>
                        <li class="<%=item.isMarry == '1'?'checked':''%>" data-code="1">未婚</li>
                    </ul>
                </div>
            </dd>
        </dl>
        <dl class="clear">
            <dt>国家和地区</dt>
            <dd class="mul-line">
                <div class="select w-normal">
                    <div class="selectedCont custPartnerNationality"><span data-code="<%=item.custPartnerNationality%>" class="<%=item.custPartnerNationality?'':'gray'%>"><%=item.custPartnerNationalityName?item.custPartnerNationalityName:'请选择'%></span><a href="javascript:;" class="areat icon"></a></div>
                    <div class="select-option">
                        <ul class="custPartnerNationalityUl"></ul>
                    </div>
                </div>
            </dd>
        </dl>
        <dl class="clear">
            <dt>证件类型</dt>
            <dd class="mul-line">
                <div class="select w-normal">
                    <div class="selectedCont custPartnerCardType"><span data-code="<%=item.custPartnerCardType%>" class="<%=item.custPartnerCardType?'':'gray'%>"><%=item.custPartnerCardTypeName?item.custPartnerCardTypeName:'请选择'%></span><a href="javascript:;" class="areat icon"></a></div>
                    <div class="select-option">
                        <ul class="pattnerCardTypeUl"></ul>
                    </div>
                </div>
            </dd>
        </dl>
        <dl class="clear">
            <dt>证件到期日</dt>
            <dd class="mul-line">
                <div class="select w-normal">
                    <div class="gray"><span class="icon i-time"></span><input type="text" class="deadline papersDeadline" readonly placeholder="yyyy-MM-dd" value="<%=item.papersDeadline%>"/>
                        <div class="select-option"></div>
                    </div>
                </div>
            </dd>
        </dl>
        <dl class="clear">
            <dt class="one-txt">证件号码</dt>
            <dd><input type="text" class="ipt w-lg custPartnerCardId" placeholder="请直接输入" value="<%=item.custPartnerCardId%>"/></dd>
        </dl>
        <dl class="clear">
            <dt>港澳居民身份证号</dt>
            <dd class="mul-line"><input type="text" class="ipt w-lg hkIdCard" placeholder="请直接输入" value="<%=item.hkIdCard%>"/></dd>
        </dl>
        <dl class="clear">
            <dt class="one-txt">居留权证</dt>
            <dd><input type="text" class="ipt w-lg residenceWarrant" value="<%=item.residenceWarrant%>"/></dd>
        </dl>
        <dl class="clear">
            <dt class="one-txt">手机号码</dt>
            <dd><input type="text" class="ipt w-lg custPartnerPhone" placeholder="请直接输入" value="<%=item.custPartnerPhone%>"/></dd>
        </dl>
        <dl class="clear">
            <dt class="one-txt">单位名称</dt>
            <dd><input type="text" class="ipt w-lg custPartnerOrg" placeholder="请直接输入" value="<%=item.custPartnerOrg%>"/></dd>
        </dl>
        <dl class="clear">
            <dt>工资性收入(税后)每月</dt>
            <dd class="mul-line"><input type="text" class="ipt w-lg custPartnerEarning" placeholder="请直接输入" value="<%=item.custPartnerEarning%>"/></dd>
        </dl>
        <dl class="clear">
            <dt>股票分红收入(税后)每月</dt>
            <dd class="mul-line"><input type="text" class="ipt w-lg custPartnerStoctEarning" placeholder="请直接输入" value="<%=item.custPartnerStoctEarning%>"/></dd>
        </dl>
        <dl class="clear">
            <dt>房租收入(税后)每月</dt>
            <dd class="mul-line"><input type="text" class="ipt w-lg custPartnerRentEarning" placeholder="请直接输入" value="<%=item.custPartnerRentEarning%>"/></dd>
        </dl>
        <dl class="clear">
            <dt>其他收入(税后)每月</dt>
            <dd class="mul-line"><input type="text" class="ipt w-lg custPartnerOtherEarning" placeholder="请直接输入" value="<%=item.custPartnerOtherEarning%>"/></dd>
        </dl>
        <dl class="clear">
            <dt>家庭月生活支出(含配偶)</dt>
            <dd class="mul-line"><input type="text" class="ipt w-lg custPartnerFamilyExpend" placeholder="请直接输入" value="<%=item.custPartnerFamilyExpend%>"/></dd>
        </dl>
        <dl class="clear">
            <dt>家庭月负债支出(含配偶)</dt>
            <dd><input type="text" class="ipt w-lg custPartnerBeDebtExpend" placeholder="请直接输入" value="<%=item.custPartnerBeDebtExpend%>"/></dd>
        </dl>
        <dl class="clear">
            <dt>家庭拥有住房套数</dt>
            <dd><input type="text" class="ipt w-lg custPartnerHouse" placeholder="请直接输入" value="<%=item.custPartnerHouse%>"/></dd>
        </dl>
        <dl class="clear">
            <dt>家庭是否有结清住房贷款记录</dt>
            <dd class="mul-dd2">
                <div class="radio">
                    <ul class="clear houseLoanRecord">
                        <li class="<%=item.houseLoanRecord ==1?'checked':''%>" data-code="1">是</li>
                        <li class="<%=item.houseLoanRecord ==2?'checked':''%>" data-code="2">否</li>
                    </ul>
                </div>
            </dd>
        </dl>
        <dl class="clear">
            <dt>家庭未结清住房贷款笔数</dt>
            <dd><input type="text" class="ipt w-lg custPartnerHouseLoan" placeholder="请直接输入" value="<%=item.custPartnerHouseLoan%>"/></dd>
        </dl>
    </div>
</div>
<div style="display:<%=item.partnerSpouseInfo?'block':'none'%> ;" class="info spread-info" >
    <div class="info-tit">
        <div class="spread"><span data-type="2">展开</span></div>
        <h3 class="msgSpouse">共同借款人<%=index+1%>配偶信息</h3>
    </div>
    <div class="info-con">
        <dl class="clear">
            <dt class="one-txt">姓名</dt>
            <dd><input type="text" class="ipt w-normal custSpouseName" placeholder="请输入" value="<%=item.partnerSpouseInfo?item.partnerSpouseInfo.custSpouseName:''%>"/></dd>
        </dl>
        <dl class="clear">
            <dt>国家和地区</dt>
            <dd>
                <div class="select w-normal">
                    <div class="custSpouseNationality selectedCont"><span data-code="<%=item.partnerSpouseInfo?item.partnerSpouseInfo.custSpouseNationality:''%>" class="<%=item.partnerSpouseInfo?(item.partnerSpouseInfo.custSpouseNationality?'':'gray'):'gray'%>"><%=item.partnerSpouseInfo?(item.partnerSpouseInfo.custSpouseNationalityName?item.partnerSpouseInfo.custSpouseNationalityName:'请选择'):'请选择'%></span><a href="javascript:;" class="areat icon"></a></div>
                    <div class="select-option">
                        <ul class="partnerSpouseNationalityUl"></ul>
                    </div>
                </div>
            </dd>
        </dl>
        <dl class="clear">
            <dt class="one-txt">证件类型</dt>
            <dd>
                <div class="select w-normal">
                    <div class="custSpouseCardType selectedCont"><span data-code="<%=item.partnerSpouseInfo?item.partnerSpouseInfo.custSpouseCardType:''%>" class="<%=item.partnerSpouseInfo?(item.partnerSpouseInfo.custSpouseCardType?'':'gray'):'gray'%>"><%=item.partnerSpouseInfo?(item.partnerSpouseInfo.custSpouseCardTypeName?item.partnerSpouseInfo.custSpouseCardTypeName:'请选择'):'请选择'%></span><a href="javascript:;" class="areat icon"></a></div>
                    <div class="select-option">
                        <ul class="partnerSpouseCardTypeUl"></ul>
                    </div>
                </div>
            </dd>
        </dl>
        <dl class="clear">
            <dt class="one-txt">证件号码</dt>
            <dd><input type="text" class="ipt w-lg custSpouseCardId" placeholder="请直接输入" value="<%=item.partnerSpouseInfo?item.partnerSpouseInfo.custSpouseCardId:''%>"/></dd>
        </dl>
        <dl class="clear">
            <dt>港澳居民身份证号</dt>
            <dd><input type="text" class="ipt w-lg spouseHkIdCard" placeholder="请直接输入" value="<%=item.partnerSpouseInfo?item.partnerSpouseInfo.hkIdCard:''%>"/></dd>
        </dl>
        <dl class="clear">
            <dt class="one-txt">居留权证</dt>
            <dd><input type="text" class="ipt w-lg spouseResidenceWarrant" placeholder="请直接输入" value="<%=item.partnerSpouseInfo?item.partnerSpouseInfo.residenceWarrant:''%>"/></dd>
        </dl>
        <dl class="clear">
            <dt>证件到期日</dt>
            <dd class="mul-line">
                <div class="select w-normal">
                    <div class="gray"><span class="icon i-time"></span><input type="text" class="deadline spousePapersDeadline" readonly placeholder="yyyy-MM-dd" value="<%=item.partnerSpouseInfo?item.partnerSpouseInfo.spousePapersDeadline:''%>"/>
                        <div class="select-option"></div>
                    </div>
                </div>
            </dd>
        </dl>
        <dl class="clear">
            <dt>手机号码</dt>
            <dd><input type="text" class="ipt w-lg custSpousePhone" placeholder="请输入" value="<%=item.partnerSpouseInfo?item.partnerSpouseInfo.custSpousePhone:''%>"/></dd>
        </dl>
        <dl class="clear">
            <dt class="one-txt">单位名称</dt>
            <dd><input type="text" class="ipt w-lg custSpouseOrg" placeholder="请直接输入" value="<%=item.partnerSpouseInfo?item.partnerSpouseInfo.custSpouseOrg:''%>"/></dd>
        </dl>
        <dl class="clear">
            <dt>工资性收入(税后)每月</dt>
            <dd class="mul-line"><input type="text" class="ipt w-lg custSpouseEarning" placeholder="请直接输入" value="<%=item.partnerSpouseInfo?item.partnerSpouseInfo.custSpouseEarning:''%>"/></dd>
        </dl>
        <dl class="clear">
            <dt>股票分红收入(税后)每月</dt>
            <dd class="mul-line"><input type="text" class="ipt w-lg custSpouseStoctEarning" placeholder="请直接输入" value="<%=item.partnerSpouseInfo?item.partnerSpouseInfo.custSpouseStoctEarning:''%>"/></dd>
        </dl>
        <dl class="clear">
            <dt>房租收入(税后)每月</dt>
            <dd class="mul-line"><input type="text" class="ipt w-lg custSpouseRentEarning" placeholder="请直接输入" value="<%=item.partnerSpouseInfo?item.partnerSpouseInfo.custSpouseRentEarning:''%>"/></dd>
        </dl>
        <dl class="clear">
            <dt>其他收入(税后)每月</dt>
            <dd class="mul-line"><input type="text" class="ipt w-lg custSpouseOtherEarning" placeholder="请直接输入" value="<%=item.partnerSpouseInfo?item.partnerSpouseInfo.custSpouseOtherEarning:''%>"/></dd>
        </dl>
    </div>
</div>
<%})%>
<div class="info">
    <div class="clear">
        <div id="addPartner" style="cursor: pointer" class="icon add-more">添加更多的共同借款人</div>
    </div>
</div>
<div class="btn-box">
    <a id="saveBtn" class="btn" data-type="0" href="javascript:;">保存</a>
    <a id="submitBtn" class="btn btn-other" data-type="1" href="javascript:;">提交订单</a>
</div>
<script type="text/template" id="templ">
    <div class="info partner">
        <div class="info-tit">
            <div class="spread"><a href="javascript:;" style="margin-right: 20px;" class="link delPartner">删除</a><span data-type="1">收起</span></div>
            <h3 class="msg">共同借款人信息</h3>
        </div>
        <div class="info-con">
            <dl class="clear">
                <dt class="one-txt">姓名</dt>
                <dd><input type="text" class="ipt w-normal custPartnerName" placeholder="请输入"/></dd>
            </dl>
            <dl class="clear">
                <dt>婚姻状况</dt>
                <dd>
                    <div class="radio isMarry">
                        <ul class="clear">
                            <li data-code="2">已婚</li>
                            <li data-code="4">丧偶</li>
                            <li data-code="3">离异</li>
                            <li data-code="1">未婚</li>
                        </ul>
                    </div>
                </dd>
            </dl>
            <dl class="clear">
                <dt>国家和地区</dt>
                <dd class="mul-line">
                    <div class="select w-normal">
                        <div class="selectedCont custPartnerNationality"><span class="gray">请选择</span><a href="javascript:;" class="areat icon"></a></div>
                        <div class="select-option">
                            <ul class="custPartnerNationalityUl"></ul>
                        </div>
                    </div>
                </dd>
            </dl>
            <dl class="clear">
                <dt>证件类型</dt>
                <dd class="mul-line">
                    <div class="select w-normal">
                        <div class="selectedCont custPartnerCardType"><span class="gray">请选择</span><a href="javascript:;" class="areat icon"></a></div>
                        <div class="select-option">
                            <ul class="pattnerCardTypeUl"></ul>
                        </div>
                    </div>
                </dd>
            </dl>
            <dl class="clear">
                <dt>证件到期日</dt>
                <dd class="mul-line">
                    <div class="select w-normal">
                        <div class="gray"><span class="icon i-time"></span><input type="text" class="deadline papersDeadline" readonly placeholder="yyyy-MM-dd"/>
                            <div class="select-option"></div>
                        </div>
                    </div>
                </dd>
            </dl>
            <dl class="clear">
                <dt class="one-txt">证件号码</dt>
                <dd><input type="text" class="ipt w-lg custPartnerCardId" placeholder="请直接输入"/></dd>
            </dl>
            <dl class="clear">
                <dt>港澳居民身份证号</dt>
                <dd class="mul-line"><input type="text" class="ipt w-lg hkIdCard" placeholder="请直接输入"/></dd>
            </dl>
            <dl class="clear">
                <dt class="one-txt">居留权证</dt>
                <dd><input type="text" class="ipt w-lg residenceWarrant" placeholder="请直接输入"/></dd>
            </dl>
            <dl class="clear">
                <dt class="one-txt">手机号码</dt>
                <dd><input type="text" class="ipt w-lg custPartnerPhone" placeholder="请直接输入"/></dd>
            </dl>
            <dl class="clear">
                <dt class="one-txt">单位名称</dt>
                <dd><input type="text" class="ipt w-lg custPartnerOrg" placeholder="请直接输入"/></dd>
            </dl>
            <dl class="clear">
                <dt>工资性收入(税后)每月</dt>
                <dd class="mul-line"><input type="text" class="ipt w-lg custPartnerEarning" placeholder="请直接输入"/></dd>
            </dl>
            <dl class="clear">
                <dt>股票分红收入(税后)每月</dt>
                <dd class="mul-line"><input type="text" class="ipt w-lg custPartnerStoctEarning" placeholder="请直接输入"/></dd>
            </dl>
            <dl class="clear">
                <dt>房租收入(税后)每月</dt>
                <dd class="mul-line"><input type="text" class="ipt w-lg custPartnerRentEarning" placeholder="请直接输入"/></dd>
            </dl>
            <dl class="clear">
                <dt>其他收入(税后)每月</dt>
                <dd class="mul-line"><input type="text" class="ipt w-lg custPartnerOtherEarning" placeholder="请直接输入"/></dd>
            </dl>
            <dl class="clear">
                <dt>家庭月生活支出(含配偶)</dt>
                <dd class="mul-line"><input type="text" class="ipt w-lg" placeholder="请直接输入"/></dd>
            </dl>
            <dl class="clear">
                <dt>家庭月负债支出(含配偶)</dt>
                <dd><input type="text" class="ipt w-lg custPartnerBeDebtExpend" placeholder="请直接输入"/></dd>
            </dl>
            <dl class="clear">
                <dt>家庭拥有住房套数</dt>
                <dd><input type="text" class="ipt w-lg custPartnerHouse" placeholder="请直接输入"/></dd>
            </dl>
            <dl class="clear">
                <dt>家庭是否有结清住房贷款记录</dt>
                <dd class="mul-dd2">
                    <div class="radio">
                        <ul class="clear houseLoanRecord">
                            <li data-code="1">是</li>
                            <li data-code="2">否</li>
                        </ul>
                    </div>
                </dd>
            </dl>
            <dl class="clear">
                <dt>家庭未结清住房贷款笔数</dt>
                <dd><input type="text" class="ipt w-lg custPartnerHouseLoan" placeholder="请直接输入"/></dd>
            </dl>
        </div>
    </div>
    <div class="info spread-info" >
        <div class="info-tit">
            <div class="spread"><span data-type="2">展开</span></div>
            <h3 class="msgSpouse">共同借款人配偶信息</h3>
        </div>
        <div class="info-con">
            <dl class="clear">
                <dt class="one-txt">姓名</dt>
                <dd><input type="text" class="ipt w-normal custSpouseName" placeholder="请输入"/></dd>
            </dl>
            <dl class="clear">
                <dt>国家和地区</dt>
                <dd>
                    <div class="select w-normal">
                        <div class="custSpouseNationality selectedCont"><span class="gray">请选择</span><a href="javascript:;" class="areat icon"></a></div>
                        <div class="select-option">
                            <ul class="partnerSpouseNationalityUl"></ul>
                        </div>
                    </div>
                </dd>
            </dl>
            <dl class="clear">
                <dt class="one-txt">证件类型</dt>
                <dd>
                    <div class="select w-normal">
                        <div class="custSpouseCardType selectedCont"><span class="gray">请选择</span><a href="javascript:;" class="areat icon"></a></div>
                        <div class="select-option">
                            <ul class="partnerSpouseCardTypeUl"></ul>
                        </div>
                    </div>
                </dd>
            </dl>
            <dl class="clear">
                <dt class="one-txt">证件号码</dt>
                <dd><input type="text" class="ipt w-lg custSpouseCardId" placeholder="请直接输入"/></dd>
            </dl>
            <dl class="clear">
                <dt>港澳居民身份证号</dt>
                <dd><input type="text" class="ipt w-lg spouseHkIdCard" placeholder="请直接输入"/></dd>
            </dl>
            <dl class="clear">
                <dt class="one-txt">居留权证</dt>
                <dd><input type="text" class="ipt w-lg spouseResidenceWarrant" placeholder="请直接输入"/></dd>
            </dl>
            <dl class="clear">
                <dt>证件到期日</dt>
                <dd class="mul-line">
                    <div class="select w-normal">
                        <div class="gray"><span class="icon i-time"></span><input type="text" class="deadline spousePapersDeadline" readonly placeholder="yyyy-MM-dd"/>
                            <div class="select-option"></div>
                        </div>
                    </div>
                </dd>
            </dl>
            <dl class="clear">
                <dt>手机号码</dt>
                <dd><input type="text" class="ipt w-lg custSpousePhone" placeholder="请输入"/></dd>
            </dl>
            <dl class="clear">
                <dt class="one-txt">单位名称</dt>
                <dd><input type="text" class="ipt w-lg custSpouseOrg" placeholder="请直接输入"/></dd>
            </dl>
            <dl class="clear">
                <dt>工资性收入(税后)每月</dt>
                <dd class="mul-line"><input type="text" class="ipt w-lg custSpouseEarning" placeholder="请直接输入"/></dd>
            </dl>
            <dl class="clear">
                <dt>股票分红收入(税后)每月</dt>
                <dd class="mul-line"><input type="text" class="ipt w-lg custSpouseStoctEarning" placeholder="请直接输入"/></dd>
            </dl>
            <dl class="clear">
                <dt>房租收入(税后)每月</dt>
                <dd class="mul-line"><input type="text" class="ipt w-lg custSpouseRentEarning" placeholder="请直接输入"/></dd>
            </dl>
            <dl class="clear">
                <dt>其他收入(税后)每月</dt>
                <dd class="mul-line"><input type="text" class="ipt w-lg custSpouseOtherEarning" placeholder="请直接输入"/></dd>
            </dl>
        </div>
    </div>
</script>